<!-- NOT NEEDED -->

<html>
<body>

<h3>Hello test !!!!!</h3>;

<table  role="presentation"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        width="660"
        style="font-family: Museo Sans Cyrl;">
{#  <tr id="email-logo">#}
{#    <td style="width: 660px; padding: 0 48px 13px 48px;">#}
{#      <img  id="email-logo-image"#}
{#            src="{{ email_logo_image_source }}"#}
{#            alt="{{ 'РОО "Рано"'|t|escape }}"#}
{#            style="margin: 0; width: 99px; height: 56px;"/>#}
{#    </td>#}
{#  </tr>#}

  <tr>
    <th scope="col"><b>Person</b></th>
    <th scope="col"><b>Most interest in</b></th>
    <th scope="col"><b>Age</b></th>
  </tr>


  <tr id="email-title">
    <td style="width: 660px; padding: 0 48px 13px 48px;">
      <span id="email-title-text"
            style="font-style: normal; font-weight: 300;
            font-size: 30px; line-height: 43px;
            border-bottom: 2px solid #F7A81B;
            padding-bottom: 3px;">
        {{ email_title_text }}
      </span>
    </td>
  </tr>
  <tr id="email-body">
    <td style="width: 660px; padding: 20px 48px 13px 48px;">
      <div style="font-style: normal; font-weight: 300;
          font-size: 16px; line-height: 19px;
          color: #000000; margin: 15px auto 0;
          width: 100%;
          text-align: left;">
        {{ email_body_content }}
      </div>
    </td>
  </tr>


{#  <tr id="email-footer">#}
{#    <td style="width: 660px; padding: 0 48px 13px 48px;">#}
{#      <br />#}
{#      <table style="border-spacing: 0;">#}
{#        <tr>#}
{#          <td id="email-footer-signature"#}
{#              style="border-top: 2px solid #F7A81B; padding: 21px 10px 0 0;#}
{#                font-style: normal; font-weight: normal; width: 30%; min-width: 197px;#}
{#                font-size: 16px; line-height: 19px;">#}
{#            {{ 'Test'|t }}<br />#}
{#            {{ 'Мы рядом!'|t }}#}
{#          </td>#}
{#          <td id="email-footer-social-networks"#}
{#              style="width: 70%; padding: 21px 0 0 0; text-align: right;">#}
{#            <a href="https://vk.com/rano_nedonoshennye"><img id="button-social-vk" src="{{ button_social_vk }}" alt="VK" style="width: 30px; height: 30px; border: 0;" /></a>#}
{#            <a href="https://www.facebook.com/rano.by"><img id="button-social-facebook" src="{{ button_social_fb }}" alt="FB" style="width: 30px; height: 30px; border: 0;" /></a>#}
{#            <a href="https://ok.ru/group/54453121712236"><img id="button-social-odnoklassniki" src="{{ button_social_ok }}" alt="OK" style="width: 30px; height: 30px; border: 0;" /></a>#}
{#            <a href="https://www.instagram.com/rano_by/"><img id="button-social-instagram" src="{{ button_social_ig }}" alt="IG" style="width: 30px; height: 30px; border: 0;" /></a>#}
{#            <a href="https://www.youtube.com/channel/UC9yXzS653pxvvBDtu7cIiAA"><img id="button-social-youtube" src="{{ button_social_yt }}" alt="YT" style="width: 30px; height: 30px; border: 0;" /></a>#}
{#         #}
{#          </td>#}
{#        </tr>#}
{#      </table>#}
{#    </td>#}
{#  </tr>#}

</table>
</body>
</html>
